.articles-bg {
    background: linear-gradient(0deg, rgba(2, 6, 252, 0.3), rgba(2, 6, 252, 0.3)),
      url("../../assets/universe.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 50px 20px;
  }
  
  .articles-bg .title {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .articles-bg .subtitle {
    font-size: 1.2rem;
    margin-top: 5px;
  }
  