.practise-area-content {
  color: #024677;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: #dcdcdc;
}

.main-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}
.horizontal-bar {
  margin: 0.5rem 0;
  width: 100px;
  height: 5px;
  background-color: rgb(199, 66, 199);
}
.main-area h1 {
  padding: 3rem 0;
}
.main-area-text {
  width: 32rem;
  font-size: large;
  display: flex;
  flex-direction: column;
}
.main-area-text h7 {
  padding-bottom: 23px;
  text-align: justify;
}

.img {
  object-fit: cover;
  width: 32rem;
  height: 20rem;
}

.img-container {
  width: fit-content;
  padding: 10px;

  background: linear-gradient(
    to right,
    rgb(199, 66, 199) 0%,
    rgb(199, 66, 199) 10%,
    transparent 10%,
    transparent 90%,
    rgb(199, 66, 199) 90%,
    rgb(199, 66, 199) 100%
  );
}
.focus-areas {
  width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.focus-areas h7 {
  padding: 0.6rem 0;
  font-size: large;
}
.focus-areas h1 {
  padding: 3rem 0;
}
.focus-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.focus-area i {
  font-size: 1.6rem;
  padding-right: 0.9rem;
  color: rgb(199, 66, 199);
}

@media screen and (max-width: 1024px) {
  .practise-area-content {
    flex-direction: column;
  }
  .horizontal-bar {
    margin: 0.5rem 0;
  }
  .main-area {
    align-items: center;
  }
  .main-area h1 {
    padding: 1rem 0;
    font-size: xx-large;
  }
  .main-area-text {
    width: 80vw;
  }
  .img {
    object-fit: cover;
    width: 80vw;
    height: 60vw;
  }
  .img-container {
    padding: 5px;
  }
  .focus-areas {
    width: 80vw;
  }
  .focus-areas h1 {
    padding: 1rem 0;
    font-size: x-large;
  }
}
@media screen and (max-width: 480px) {
  .practise-area-content {
    justify-content: center;
  }

  .main-area h1 {
    padding: 1rem 0;
    font-size: x-large;
  }

  .img-container {
    padding: 5px;
  }
}
