#about-bg {
  height: 70vh;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(2, 6, 252, 0.3), rgba(2, 6, 252, 0.3)),
    url("../../assets/chamber.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.horizontal-bar {
  margin: 1.25rem 0;
  width: 100px;
  height: 5px;
  background-color: yellow;
}
#about-bg h1 {
  font-size: 3rem;
  padding-top: 2rem;
}
#about-bg p {
  font-size: 1.3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.appointmentBtn {
  border: 1px solid white;
  background: white;
  color: #024677;
  border-radius: 15px;
  padding: 0.8rem;
  font-weight: 800;

  transition: transform 0.3s ease;
}

.appointmentBtn:hover {
  background: white;
  color: #024677;
  transform: scale(1.1);
}

@media screen and (max-width: 480px) {
  #about-bg h1 {
    font-size: 1.5rem;
    padding: 0 2rem;
    text-align: justify;
  }
}
