.add-article-form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-article-form input,
.add-article-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.add-article-form input:focus,
.add-article-form textarea:focus {
  border-color:#000435;
  outline: none;
}

.add-article-form textarea {
  min-height: 120px;
  resize: vertical;
}

.add-article-form button {
  background-color: #024677;
  color: #fff;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.add-article-form button:hover {
  background-color:#000435;
}
