#profile {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 8rem;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}
.profile-img-div img {
  width: 33rem;
  height: 34rem;
  overflow: hidden;
  object-fit: cover;
}

.profile-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem 1rem;
  margin-left: 2rem;
}
.profile-content h1 {
  font-weight: bold;
  font-size: x-large;
  color: #024677;
}
.profile-content .position {
  color: grey;
  font-weight: bold;
}
.profile-content .about {
  color: #024677;
  font-size: large;
  width: 30rem;
}

@media screen and (max-width: 1200px) {
  #profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: white;
    padding-bottom: 1rem;
  }
  .profile-img-div {
    width: 100%;
    padding: 1rem 3rem 0;
  }
  .profile-img {
    width: 100%;
    height: 35rem;
  }

  .profile-content {
    height: 100%;
    width: 100%;
    padding: 1rem 3rem 0;
  }
  .profile-content .about {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .profile-img-div {
    width: 100%;
    padding: 3rem 3rem 0;
  }
  .profile-img-div img {
    width: 20rem;
    height: 25rem;
  }
  .profile-content {
    padding: 3rem 3rem 0;
    width: 100%;
  }
  .profile-content h1 {
    font-size: 2rem;
  }
  .profile-content .about {
    color: #024677;
    font-size: 1.3rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .profile-img-div {
    width: 100%;
    padding: 1rem 1rem 0;
  }
  .profile-img-div img {
    width: 18rem;
    height: 20rem;
  }

  .profile-content {
    padding: 1rem 1rem 0;
  }

  .profile-content h1 {
    font-size: large;
  }
  .profile-content .about {
    font-size: medium;
  }
}
